@media (max-width: 992px) {
  #title .row {
    text-align: center;
  }

  #title .title-image {
    position: static;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    width: 40%;
  }
}
